<div class="map" style="background-image: url('<%= @poisson.picture_url %>')"></div>

<div class="container margin-top-negative">
  <div class="row">
    <div class="col-8">
      <div class="poisson-show-card">
        <h1><%= @poisson.name %></h1>
        <p class="poisson-show-category"><%= @poisson.category %></p>
      </div>
      <div class="poisson-show-card">
      </div>
    </div>

    <div class="col-4">
      <div class="poisson-show-card">
        <h5>Book this poisson</h5>

        <%= render 'locations/form', poisson: @poisson, location: @location %>
      </div>
      <div class="poisson-show-card">
        <h3>Details</h3>
        <div class="flex">
          <div class="flex">
            <%# <%= @poisson.number_of_guests people %>
          </div>
          <div class="flex ms-3">
            <%= @poisson.price %>€
          </div>
        </div>
      </div>
      <div class="poisson-show-card">
      </div>
    </div>
  </div>
</div>
