<div class="confirmation-box">
  <div class="listing-price">
    <div class="form-group">

      <h4>pour <%= @poisson.price %>€ par jour</h4>
      <%= simple_form_for [@poisson, @location], data: { controller: "datepicker", datepicker_disable_value: @disable_date.to_json } do |f| %>
        <%= f.input :begin_date, as: :string, input_html: { data: { datepicker_target: "start" } } %>
        <%= f.input :end_date, as: :string, input_html: { data: { datepicker_target: "end"} } %>
        <%= f.label :party_size %>

        <h5>Sous-total: <strong>€<%= @poisson.price %></strong></h5><br>

        <%= f.submit "Demander une réservation", class: "btn btn-success form-control" %>
        <br><br>
      <% end %>
    </div>
  </div>
</div>
