<div class="container-listing">
  <br>
  <h2><strong>Congratulations, your location has been confirmed!</strong></h2><br>
  <h3><strong>Your trip details</strong></h3><br>

  <strong>Start Date: <%=  location.start_date %></strong> | <strong>End Date: <%=  location.end_date %></strong>

  <h4><strong><%=  location.poisson.title %></strong></h4>
  <p>Location: <%=  location.poisson.address %></p>
  <p><%=  location.poisson.description %></p>

  <div class= "location-image"><br>
    <img src=<%=  location.poisson.photo %> alt="Your Poisson photo" width="1000" class="img-responsive">
  </div>
</div>
